TELEGRAM_BOT_TOKEN="7964955582:AAF5shEezUdS-WFqTmvIrXwnk7uHAkx-MWY"
BINANCE_API_KEY="ipBkJDCkpOrD0YQEDTPy9Zpett222fzmv85qR5zXlEF3JhfBgtWBFLxmYD0H53fD"
BINANCE_API_SECRET="F4lFm3YfKxDgEcQLrGHUqaLHvZt4dlvwGH86Y8fAZvwBLro9tDAhKAjX1CbfqjMR"
